div.pull-right#keepAlive(style='margin-left: 5px;margin-right:25px') &nbsp;|&nbsp;
    i.icon-upload(title=status)&nbsp;

div.pull-left
    small &copy; 2012 &nbsp;
        a(href='mailto:o.mil@seznam.cz') Oldřich Milostný

div.pull-right
    small Třebíč, Jaroměřice, Moravské Budějovice
