div.pull-right#keepAlive(style='margin-left: 5px') &nbsp;|&nbsp;
    i.icon-upload(title=status)&nbsp;

div.pull-left
    small &copy; 2012
        a(href='mailto:o.mil@seznam.cz') Oldřich Milostný

div.pull-right
    small Třebíč, Jaroměřice, České Budějovice
