extends layout

block content

    script(src='/javascripts/picoGallery.js')    
    script(src='/javascripts/gallery/page.js')
    
    section#intro.first
        div.pictureBox(style='display:none')