extends layout

block content
    script(src='/javascripts/index/page.js')

    section#intro.first
        h1
            | Vítejte na stránkách firmy Oldřich Milostný, malířské práce

        div#sampleWorkCarousel.carousel.slide.img-rounded(style='visibility:hidden')
            div.carousel-inner
            a.carousel-control.left(href="#sampleWorkCarousel",data-slide="prev")&lsaquo;
            a.carousel-control.right(href="#sampleWorkCarousel",data-slide="next")&rsaquo;
        p
            | Malířské práce ve městech Třebíč, Jaroměřice nad Rokytnou, Moravské Budějovice a okolí
        p
            | V případě zájmu mě kontaktujte na telefonním čísle 725 656 360

