extends layout

block content
    section#intro.first
        h1
            | Vítejte na stránkách firmy Oldřich Milostný, malířské práce
        p
            | V případě zájmu mě kontaktujte na telefonním čísle 725 656 360

