doctype 5
html
    head
        meta(name="robots",content="index, follow")
        meta(name="author", content="Ondrej Linek, defectus.github.com")
        meta(name="description",content="malíř Třebíč - malířské práce, malování, Třebíč, Jaroměřice, Moravské Budějovice")
        meta(name="keywords", content="malíř, Třebíč, malování, natírání")
        meta(name="google-site-verification",content="ZGKh1KoWDIssaL-Ktd2zXYvb0IhIVu2CPEM_1hLzaOQ")
        title=title
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cantora+One&subset=latin,latin-ext')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/custom.css')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/bootbox.min.js')
        script(src='/javascripts/jquery.keepalive.js')
        script(src='/javascripts/moment.min.js')
        script(src='/javascripts/jquery.picasa.js')

        //if lt IE 9.
            script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

        //if lt IE 8.
            script(src='/javascripts/warning.js')
            script
                window.attachEvent('onload', function(){_e("${resource(dir: 'images/ie6')}/")});

    body
        div#Content.container(style='margin-top: 50px')
            if (flash && flash.message)
                div.alert.alert-info
                    {flash.message}
            if (flash && flash.error)
                div.alert.alert-error
                    {flash.error}

            if (flash && flash.success)
                div.alert.alert-success
                    {flash.success}
            div.menu
                include menu

            block content

        div.footer
            include footer

        div.painters()
            img(src='/img/painter-new.jpg')
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36539295-1']);
        _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
