ul.nav.nav-pills
    li
        a(href="/") Domu
    li
        a(href="/services") Sluzby
    li.dropdown        
        a.dropdown-toggle(data-toggle="dropdown",href="#") Menu
            b.caret
        ul.dropdown-menu
            li
                a(href="#") Dropdown1            
            l.divider
            li
                a(href="#") O strankch            
