ul.nav.nav-pills
    li
        a(href="/") Domů
    li
        a(href="/services") Služby
    li
        a(href="/gallery") Galerie
    li
        a(href="/map") Mapa
    li
        a(href="/contact") Kontakt
    li
        a(href="/about") O strankách
