ul.nav.nav-pills
    li
        a(href="/") Domů
    li
        a(href="/services") Služby
    li.dropdown        
        a.dropdown-toggle(data-toggle="dropdown",href="#") Kontaktní informace
            b.caret
        ul.dropdown-menu
            li
                a(href="/contact") Kontakt
            l.divider
            li
                a(href="/about") O strankách
