extends ../layout

block content

    section#intro.first
        h1 Oldřich Milostný
    
        div.row-fluid(style="margin-top: 25px;")
            div.span12
                ul.unstyled
                    li
