extends ../layout

block content
    
    section#intro.first
        h1 Kontaktní informace
    
        div.row-fluid(style="margin-top: 25px;")
            div.span12
                ul.unstyled.services-list
                    li Telefon: 725 656 360
                    li Adresa: Cigánkova 1175, Jaroměřice, 67551
                    li email:
                        a(href='mailto:o.mil&lt;zavináč&gt;seznam.cz') o.mil&lt;zavináč&gt;seznam.cz
